.idea
*.iml
**/target
**/**/target
**/**/**/target
org.totalgrid.reef.*.cfg
out
reef-karaf-*
totalgrid-reef-*
Thumbs.db
*.log
**/*.log
*.ipr
*.iws
*.csv
teamcity-info.xml
*.cfg
*.jks

