
# service settings
org.totalgrid.reef.services.metrics = true
org.totalgrid.reef.services.metricsSplitByVerb = false
org.totalgrid.reef.services.metricsSplitByService = false
org.totalgrid.reef.services.useAuth = true
org.totalgrid.reef.services.slowQueryThresholdMs = 500
org.totalgrid.reef.services.maxMeasurements = 2000000
org.totalgrid.reef.services.trimPeriodMinutes = 15