/**
 * Copyright 2011 Green Energy Corp.
 *
 * Licensed to Green Energy Corp (www.greenenergycorp.com) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  Green Energy Corp licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

body {
}

div.message {
  background-color: #555753;
  padding: 3px;
  margin: 0 0 4px 26px;
  font-family: Arial, sans-serif;
  margin-bottom: 4px;
}

div.msgTitle {
  font-weight: bold;
  color: white;
}

div.msgBody table {
  background-color: rgb(240, 240, 240);
  padding: 2px;
  border-collapse: collapse;
  margin: 0;
  border-spacing: 0;
}

td.fieldName {
  font-size: 90%;
  padding-left: 5px;
  padding-right: 15px;
  text-align: right;
  vertical-align: top;
  font-style: italic;
  border-right: 1px solid darkGrey;
}

/**
 * Should this go in site.css?
 */

div.usecase {
  margin-left: 22px;
}
div.usecase h2 {
  /* background: url('../images/minus_18.png') no-repeat left center; */
  background-color: transparent;
  padding-left: 0; /* 20px; */
  border: none;
  color: black;
  font-weight: 400;
  margin: 64px 0 0 -22px;
  /* cursor: pointer; */
}

div.usecase h2.collapsed {
  background: url('../images/plus_18.png') no-repeat left center;
  margin: 8px 0 0 0;
}

div.usecase div {
  font-size: 14px;
}

div.usecase h3 {
  margin-left: 0px;
  margin-bottom: 0;
  color: black;
  /*
  border: none;
  background-color: transparent;
  */
}

div.overview h2 {
  color: black;
  border: none;
  background-color: transparent;
  padding: 0;
}

div.overview div {
  font-size: 14px;
}

div.overview div p {
  font-size: 14px;
}

div.request h3 {
  background: #73d216 url('../images/rightarrow_18x16.png') no-repeat left center;
  padding-left: 24px;
}

div.response h3 {
  background: #729fcf url('../images/leftarrow_18x16.png') no-repeat left center;
  padding-left: 24px;
}
