/* ..\misc_scada\xsddoc-1.0\bin\xsddoc.bat -t Loader -o xml\target -c xml\site\resources\stylesheet.css schema\xsd\configuration.xsd */

body { background-color: #FFFFFF; }

p { margin: 0px; }
p.elementDef{
  font:14px/30px Arial, serif;line-height:150%; color:black;
}

p.exConfig{
  font:14px/30px Times New Roman, serif;line-height:150%; color:blue;
}

span.title { font: bold 18px/30px Arial, serif;line-height:180%; color:black;}

span.elementConfig { font: italic 14px/30px Arial, serif;line-height:140%; color:blue;}
span.elementStyle { font: italic 14px/30px Arial, serif;line-height:150%; color:black;}

span.nameStyle { font:bold italic 14px/30px Arial, serif;line-height:150%; color:blue;}

p.secHeader { font:bold italic 16px/30px Arial, serif;line-height:150%; color:black;}

a:link, a:visited { color: blue; }
a:active, a:hover, #leftcol a:active, #leftcol a:hover { color: #f30 !important; }
a:link.selfref, a:visited.selfref { color: #555 !important; }
.a td { background: #ddd; color: #000; }

/* Table colors */
.TableHeadingColor     { background: #036; color: #fff }
.TableSubHeadingColor  { background: #bbb; color: #fff }
.TableRowColor         { background: #efefef color: #fff; }

/* Font used in left-hand frame lists */
.FrameTitleFont   { font-size: normal; font-family: normal; color:#000000 }
.FrameHeadingFont { font-size: normal; font-family: normal; color:#000000 }
.FrameItemFont    { font-size: normal; font-family: normal; color:#000000 }

/* Navigation bar fonts and colors */
.NavBarCell1    { background-color:#ddd;}/* Light mauve */
.NavBarCell1Rev { background-color:#888;}/* Dark Blue */
.NavBarFont1    { font-family: Arial, Helvetica, sans-serif; color:#000000;}
.NavBarFont1Rev { font-family: Arial, Helvetica, sans-serif; color:#FFFFFF;}

.NavBarCell2    { font-family: Arial, Helvetica, sans-serif; background-color:#FFFFFF;}
.NavBarCell3    { font-family: Arial, Helvetica, sans-serif; background-color:#FFFFFF;}

div.hierar { margin-left: 1em; text-indent: 0em; border-style:solid; border-width:1px; border-color: #D0D0D0;}
ul { margin-top: 0px; margin-bottom: 0px; }
li { margin-top: 0px; margin-bottom: 0px; }

.anno { color: #888888; }
.smal { font-size: 60%; font-weight: bold; }
